<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="/static/style.css" >
    
    <title>Nouvelle Partie</title>
</head>
<body>
    <h1>Nouvelle Partie</h1>
<div class = "form">
    <form action="/templates/treatment" method="post">
      
            <label for="pseudo"><strong>Entrez votre pseudo :</strong></label>
            <input type="text" name="pseudo"><br>
            
            <div class="difficulty-container">
                <input type="radio" name="difficulty" id="facile" value="Facile" >
                <label for="facile">Facile</label>
            
                <input type="radio" name="difficulty" id="intermediaire" value="Intermediaire" checked>
                <label for="intermediaire">Intermediaire</label>
            
                <input type="radio" name="difficulty" id="difficile" value="Difficile">
                <label for="difficile">Difficile</label>
            </div>
     
     
       
            <input type="submit" value="Lancer la partie">
  
    </form>

</div>
</body>
</html>