<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>

   
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hanalei+Fill&display=swap" rel="stylesheet">

   
   </head>
<body>
    <h1>M.Hangman</h1>
    <img class = "hangman" src="/static/photoac.png" alt="Photo Accueil Hangman">
    

    <div class="menu">
        <ul>
            <a href="init"><li>Nouvelle Partie</li></a>
            <a href="credits"><li>Crédits</li></a>
            <a href="https://www.google.com/"><li>Quitter</li></a>
        </ul>
    </div>
</body>
</html>